
  .Metadata_Editor {
    font-size: 20px;
    font-family: "ProximaNova";
    color: rgb(22, 164, 216);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 4.5;
    text-align: left;
    position: absolute;
    left: 41.881px;
    top: 1147px;
    z-index: 252;
  }
 